html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

img {
    display: block;
    max-width: 100%;
}

:root {
    --color-accent: #34547A;
    --color-silver: #EEEFF1;
}

.text-h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
}

.text-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.text-h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
}
.text-h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 500;
}



/* Первый скрин */
.header {
    padding-top: 50px;
    padding-bottom: 146px;
    background-color: var(--color-silver);
}

.logo {
    width: 87px;
    height: 60px;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* .screen__flex-item {
}
.screen-flexV2 {
} */
.menu {
    text-decoration: none;
    margin-right: 42px;
    text-transform: uppercase;
    color: black;
    font-size: 17px;
    letter-spacing: 0.03em;
}

.menu:last-child {
    margin-right: 12px;
}

.menu:hover {
    color: var(--color-accent);
    font-weight: 500;
}

.flex_cont {
    padding-top: 140px;
    display: flex;
    margin: 0 auto;
    padding-left: 81px;
    padding-top: 140px;
}

.COMP {
    margin-right: 131px;
    padding-top: 22px;
}

.flex__cont_items {}

.text-h4_screen {
    margin-bottom: 46px;
}

.text-p_screen {
    letter-spacing: 0.06em;
    line-height: 24px;
    max-width: 540px;
    color: gray;
    margin-bottom: 57px;
}

.header_btn {
    width: 225px;
    height: 65px;
    background-color: var(--color-accent);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
}



/* ОБО МНЕ */
.about {
    padding-top: 119px;
    padding-bottom: 92px;
    text-align: center;
}

.text_about_h4 {
    margin-bottom: 38px;
}

.text_about_p {
    margin: 0 auto;
    max-width: 540px;
    line-height: 26px;
}



/* PROJECTS */
.projects {
    padding-top: 74px;
    padding-bottom: 83px;
    background-color: var(--color-accent);
}

.projects__flex {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.projects__flex-item {
    display: flex;
}

.project-photo {
    padding-top: 8px;
    margin-right: 20px;
}

.text_project {
    color: white;
}

.number_proj {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: -11px;
    margin-top: 27px;
}

/* .text-proj {
}
 */



/* SKILLS */
.container_skills {
    width: 1150px;
    margin: 0 auto;
}

.progress-bar {
    display: flex;
    width: 450px;
    height: 4px;
    background-color: #999;
    margin-bottom: 29px;
}

.progress-bar-completed {
    background-color: #34547A;
}

.skills {
    padding-top: 102px;
    padding-bottom: 85px;
}

.skills__flex {
    display: flex;
    justify-content: space-between;
}

/* .skills__flex-item {
} */
.text_skils_h5 {
    padding-top: 20px;
    margin-bottom: 42px;
}

.text_skills_p {
    font-weight: 500;
    font-size: 18px;
}

.photo-skills {
    width: 555px;
    height: 450px;
}




/* VIDEO */
.video {
    background-color: var(--color-silver);
    padding-top: 100px;
    padding-bottom: 106px;
}

.video__content-title {
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.video_h2 {
    margin-bottom: 42px;
}

.video_p {
    color: gray;
    margin: 0;
    line-height: 24px;
}

.video_frame {
    width: 1110px;
    height: 600px;
    /* padding-left: 20px; */
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video_frame iframe,
.video_frame object,
.video_frame embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* PORTFOLIO */
.projectsV2 {
    padding-top: 1px;
    padding-bottom: 72px;
}

.projects__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 480px;
    background-size: cover;
    position: relative;

}

.projects__gallery-card {
    /*     display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 480px; */
    background-image: url(../img/writing.jpg);
    background-repeat: no-repeat;
    /*     background-size: cover;
    position: relative; */
}

.projects__gallery-card:nth-child(2) {
    background-image: url(../img/comping.jpg);
}

.projects__gallery-card:nth-child(4) {
    background-image: url(../img/comping.jpg);
}

.projects__gallery-card:nth-child(5) {
    background-image: url(../img/comping.jpg);
}

.projects__gallery-card:nth-child(7) {
    background-image: url(../img/comping.jpg);
}

.card_view-icon {
    z-index: 2;
    opacity: 0;
    transition: 0.5s ease;
}

.overlay {
    position: absolute;
    background-color: #34547A;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 0.5s ease;
}

.card:hover .card_view-icon {
    opacity: 1;
}

.card:hover .overlay {
    opacity: 0.8;
}





/* CLIENTS */
.clients {
    padding-bottom: 100px;
}
.clients__flex {
    display: flex;
    justify-content: space-between;
}
.clients-photo {
}


/* FORMA */
.form {
    padding-top: 98px;
    padding-bottom: 100px;
    background-color: var(--color-silver);
}
.form__content {
    text-align: center;
}
.form__content-text {
}
.form_h5 {
    margin-bottom: 39px;
}
.text-p {
}
.form_p {
    max-width: 540px;
    margin: 0 auto;
    line-height: 26px;
    margin-bottom: 57px;
}
.form__content-items {
    border: 0;
}
.form__content-items-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.form__content-item {
    width: 255px;
    height: 50px;
    margin-right: 27px;
    border:none;
}
.form__content-item:last-child {
    margin-right: 0px;
}
.form_area {
    border:none;
    width: 540px;
    height: 175px;
    margin-bottom: 46px;
}
.form_btn {
    background-color: var(--color-accent);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    width: 190px;
    height: 55px;
    padding: 20px 19px;
    border:none;
}
input[placeholder] {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5F5D5D;
    padding-left: 20px; 
} 
textarea[placeholder] {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5F5D5D;
    padding-top: 17px;
    padding-left: 20px; 
} 




/* Footer */
.footer {
    padding-top: 48px;
    padding-bottom: 50px;
    background-color: var(--color-accent);
}
.footer__flex {
    display: flex;
    justify-content: space-between;
}
.footer__flex-item {
/*     padding-left: 20px; */
}
.footer__flex-img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
/*     width: 175px; */
}

.footer_h6 {
    margin: 0 0 13px 0;
    color: white;
}
.footer_p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    letter-spacing: 0.02em;
}
.VKONTAKTE {
    margin-right: 21px;
    align-items: center;
    width: 48px;
}